

# Pandas Series exercises

In [3]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

1.3.0



## Series creation

### Create an empty pandas Series

In [4]:
# your code goes here
pd.Series([])

C:\Users\Rania\AppData\Local\Temp/ipykernel_11820/1327878560.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series([])

Series([], dtype: float64)



### Given the X python list convert it to an Y pandas Series

In [5]:
# your code goes here
d = [7,1,-3,2,4,5]
s = pd.Series(data=d)
print(s)

0    7
1    1
2   -3
3    2
4    4
5    5
dtype: int64



### Given the X pandas Series, name it 'My letters'

In [6]:
# your code goes here
d = [7,1,-3,2,4,5]
s = pd.Series(data=d)
s = s.rename("My letters")
s

0    7
1    1
2   -3
3    2
4    4
5    5
Name: My letters, dtype: int64



### Given the X pandas Series, show its values

In [7]:
# your code goes here
s.values

array([ 7,  1, -3,  2,  4,  5], dtype=int64)



## Series indexation

### Assign index names to the given X pandas Series

In [8]:
# your code goes here
s.index=list("abcdef")
s

a    7
b    1
c   -3
d    2
e    4
f    5
Name: My letters, dtype: int64

[link text](https://)

### Given the X pandas Series, show its first element

In [9]:
# your code goes here
s[0]

7



### Given the X pandas Series, show its last element

In [10]:
# your code goes here
s[-1]

5



### Given the X pandas Series, show all middle elements

In [11]:
# your code goes here
s[1:len(s)-1]

b    1
c   -3
d    2
e    4
Name: My letters, dtype: int64



### Given the X pandas Series, show the elements in reverse position

In [12]:
# your code goes here
s[::-1]

f    5
e    4
d    2
c   -3
b    1
a    7
Name: My letters, dtype: int64



### Given the X pandas Series, show the first and last elements

In [13]:
# your code goes here
s[0::len(s)-1]

a    7
f    5
Name: My letters, dtype: int64



## Series manipulation

### Convert the given integer pandas Series to float

In [14]:
# your code goes here
s.astype(float)

a    7.0
b    1.0
c   -3.0
d    2.0
e    4.0
f    5.0
Name: My letters, dtype: float64



### Reverse the given pandas Series (first element becomes last)

In [15]:
# your code goes here
s[::-1]

f    5
e    4
d    2
c   -3
b    1
a    7
Name: My letters, dtype: int64



### Order (sort) the given pandas Series

In [16]:
# your code goes here
s.sort_values()

c   -3
b    1
d    2
e    4
f    5
a    7
Name: My letters, dtype: int64



### Given the X pandas Series, set the fifth element equal to 10

In [17]:
# your code goes here
s[4] = 10
s

a     7
b     1
c    -3
d     2
e    10
f     5
Name: My letters, dtype: int64



### Given the X pandas Series, change all the middle elements to 0

In [18]:
# your code goes here
s[1:len(s)-1] = 0
s

a    7
b    0
c    0
d    0
e    0
f    5
Name: My letters, dtype: int64



### Given the X pandas Series, add 5 to every element

In [19]:
# your code goes here
s+5

a    12
b     5
c     5
d     5
e     5
f    10
Name: My letters, dtype: int64



## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [20]:
# your code goes here
d = [7,1,-3,2,4,5]
s = pd.Series(data=d,index=list("abcdef"))
s = s.rename("My letters")
s < 0

a    False
b    False
c     True
d    False
e    False
f    False
Name: My letters, dtype: bool



### Given the X pandas Series, get the negative elements

In [21]:
# your code goes here
s[s<0]

c   -3
Name: My letters, dtype: int64



### Given the X pandas Series, get numbers higher than 5

In [22]:
# your code goes here
s[s>5]

a    7
Name: My letters, dtype: int64



### Given the X pandas Series, get numbers higher than the elements mean

In [23]:
# your code goes here
s[s>s.mean()]

a    7
e    4
f    5
Name: My letters, dtype: int64



### Given the X pandas Series, get numbers equal to 2 or 10

In [31]:
# your code goes here

s[((s == 2) | ( s == 10))]

d    2
Name: My letters, dtype: int64



## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

In [25]:
# your code goes here
if True in list(s !=0) :
   print("True")
else : 
    print("False")

s!=0

True

a    True
b    True
c    True
d    True
e    True
f    True
Name: My letters, dtype: bool



### Given the X pandas Series, return True if any of its elements is zero

In [26]:
# your code goes here
s[2] = 0

if True in list(s ==0) :
   print("True")
else : 
    print("False")

s==0

True

a    False
b    False
c     True
d    False
e    False
f    False
Name: My letters, dtype: bool



## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [27]:
# your code goes here

s.sum()

19



### Given the X pandas Series, show the mean value of its elements

In [28]:
# your code goes here
s.mean()

3.1666666666666665



### Given the X pandas Series, show the max value of its elements

In [29]:
# your code goes here
s.max()

7