In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data = sns.load_dataset('titanic')

In [ ]:
data.columns

In [ ]:
data.isnull().sum()

In [ ]:
# plot heatmap to visualize the null values in each column
# 'cbar = False' does not show the color axis 
sns.heatmap(data.isnull())

# display the plot
plt.show()

In [ ]:
# Replace null value in age column
data['age']=  data['age'].fillna(data['age'].mean())

The max age among the alive male passengers.

In [ ]:
data[(data.alive=='yes')| (data.who=='man')].age.max()

In [ ]:
# rename classe
data.rename(columns={'class':'classe'}, inplace=True)

Average age2 and age for each classe in one code sentence. Use groupby


Groupby groups data by different categories, the data is based on one or several variables.

In [ ]:
data.groupby('classe')['age','age2'].mean()

Total classe for age and age2 in one code sentence. Use the pivot_table() 
method.

In [ ]:
data.pivot_table(values= ['age','age2'], index='classe', aggfunc='mean')

In [ ]:
data.groupby('classe')['age','age2'].sum()

Repace null values

In [ ]:
# Replace null value in embarked and fare classes with mode or median

data['embarked']=data['embarked'].fillna(data['embarked'].mode()[0])

Question -- Drop fare column.

In [ ]:
data.drop(['fare'],axis=1,inplace=True)

In [ ]:
#The frequency of embarked
data['embarked'].value_counts()

Question - - Average age of the woman passengers:

In [ ]:
data[data.who=='woman'].age.mean()

Question -- Average age of the male student

In [ ]:
data[data.sex=='male'].age.mean()

Question -- The max age among the male passengers:

In [ ]:
data[data.sex=='male'].age.max()

Question -- Create a new column age2 = age +12

In [ ]:
data['age2'] = data.age+12

Question -- The min age among the female passengers:

In [ ]:
data[data.sex=='female'].age.min()

In [ ]:
l

Question -- The min age among the alive male passengers.

In [ ]:
data[(data.alive== 'yes') & (data.sex=='male')].age.min()

Question -- Average age of the **male** passengers in First or Second class:

In [ ]:
#Rename columns class
data.rename(columns={'class':'classe'}, inplace=True)

In [ ]:
data[((data.classe=='First') | (data.classe=='Third')) & (data.sex=='male')].age.mean()

Question -- Total age of embarked equals to S or C.

In [ ]:
data[(data.embarked=='S') | (data.embarked == 'C')].age.sum()

Question -- Sort the DataFrame in ascending order of the 'age' use sort values (df.sort_values(by='...', ascending=...)).

**Aggregating**


Documentation : https://pbpython.com/groupby-agg.html

Aggregation function is one which takes multiple individual values and returns a summary.

The most common aggregation functions are a simple average or summation of values.

Here’s a quick example of calculating the total and average fare using the Titanic dataset (loaded from seaborn):

In [ ]:
data['fare'].agg(['sum', 'mean'])

In [ ]:
agg_func_math = {
    'fare':
    ['sum', 'mean', 'median', 'min', 'max', 'std', 'var', 'mad', 'prod']
}
data.groupby(['embark_town']).agg(agg_func_math).round(2)

Question -- Average age for each embark_town. Use the groupby() method.

In [ ]:
data.groupby('embark_town')['age'].mean()


**Pivot Table**

Documentation : 

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html

Average age of each embark_town. Use the pivot_table() method.

In [ ]:
data.pivot_table(index = 'embark_town', values = 'age', aggfunc=np.mean)

Question -- Average age and age2 for each embark_town. Use the groupby() method.

In [ ]:
data.groupby('embark_town')[['age', 'age2']].mean()

Question -- Total age for each embark_town and class in one code sentence. Use the pivot_table() method. Fill the missing values with 0.

In [ ]:
data.pivot_table(index='embark_town', columns = 'classe', values = 'age', aggfunc=np.sum, fill_value=0 )

In [ ]:
data.pivot_table(index=['embark_town', 'class'], values = 'age', aggfunc=np.sum, fill_value=0 )

Total age2 of age equal to 22 and 38:

In [ ]:
data[(data.age==22) | (data.age==38)].age2.sum()

Print a frequency table of 'who' use 'value_counts()'

> Indented block

In [ ]:
data.who.value_counts()

Question -- Sort the DataFrame in ascending order of the 'embark_town'. Show the top 20.

In [ ]:
data.sort_values(by='embark_town',ascending=False).head(20)

Average age2 and age for each classe in one code sentence. Use the pivot_table() method.

In [ ]:
data.pivot_table(index='classe',values=['age','age2'],aggfunc=np.mean)

In [ ]:
data.groupby('classe')['age','age2'].mean()



---



---



---

**Data Visualization!!!!**


---



---

Pie plot!

In [ ]:
data.sex.value_counts().plot(kind = "pie", autopct='%1.1f%%');

This chart shows there were more men than women in the titanic.

In [ ]:
data.survived.value_counts().plot(kind = "bar");

Most of the passengers died in this shipwreck.

Line Plot!!!
The relationship between x and y can be shown for different subsets of the data using the hue, size, and style parameters.

For Documentation;

https://seaborn.pydata.org/generated/seaborn.lineplot.html

In [ ]:
sns.lineplot(x = "age", y = "survived", data = data)

In [ ]:
#Other survival rate visualization by age

sns.lineplot(x = "age", y = "survived",hue = "sex", data = data);

It is clearly made that women are meaningfully separated from men.

it seems that there is no gender difference for children.

# Scatter Plot!!


```

```
Scatter plot shows us the relationship between numerical variables, that is, when these 2 variables are evaluated together, they inform us about the structure that occurs in the data set.

Yes how to create a scatter plot;

A continuous variable is written on our x axis. Another numerical variable is written on the y axis.

In [ ]:
sns.scatterplot(x = "age", y = "fare", data = data)

scatter plot is a visual form of correlation analysis, which is a statistical technique.
what is required; it is necessary to understand how this data is formed in detail with some crosses.
scatter plot expresses the relationship between numerical variables.
This graphic can give us information about the direction of the relationship, and in this plot which we created does not appear relationship.

# Let's use matplotlib!!

Documentation:
https://matplotlib.org/stable/tutorials/introductory/pyplot.html

In [ ]:
import matplotlib.pyplot as plt

Bar plot!!

In [ ]:
data.survived.value_counts().plot(kind="bar")

We can obviously see that approximate of 350 people survived and 550 people died, we can use normalization technique inorder to view concreate percentages. (I am gonna copy paste the above cell code with the addition of normalization parameter )

Line Plot!!

In [ ]:
fig = plt.figure(figsize=[5,3])

plt.plot(data.age, data.age2, color = 'blue')
plt.plot(data.age2, data.age,color = 'green')
plt.show()

Generate Kernel Density Estimate plot using Gaussian kernels:
Documentation:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.kde.html

In [ ]:
s = pd.Series([1, 2, 2.5, 3, 3.5, 4, 5])
d= pd.Series([1, 20, 12.5, 3, 3.5, 4, 5])

s.plot(kind='kde')    
d.plot(kind='kde')
# plots an axis lable
plt.xlabel("Serie")    
plt.title("Distribution")
# sets our legend for our graph.
plt.legend(('1st Class', '2nd Class'),loc='best')

Exemple 1 :

In [ ]:
x=np.linspace(0,10,500)
#np.linespace :Return evenly spaced numbers over a specified interval.Returns num evenly spaced samples, 
#calculated over the #interval [start, stop].The endpoint of the interval can optionally be excluded.
y=np.sin(2 * np.pi * x)+1
fig = plt.figure(figsize=(8, 4))
plt.plot(x,y)
plt.title("Setting range of Axes",fontsize=25)
plt.xlabel("x",fontsize=18)
plt.ylabel("1+sinx",fontsize=18)
plt.xlim(4,8)
plt.ylim(-0.5,2.5)
plt.show()