## Quiz #0101

#### Provide the answers in Python code:

1).  In the class A, students' heights are:

161.5 <br>
165.9 <br>
168.7 <br>
163.1 <br>
170.8 <br>
167.2 <br>

Calculate the mean height by using Python 'list' and 'for' loop:

In [5]:
students_heights = 161.5,165.9,168.7,163.1,170.8,167.2
students_heights_list = list(students_heights)

moy = 0 

for i in students_heights_list :
    moy += i

moyenne = moy / len(students_heights_list)

print("The the mean height is : " , moyenne)

The the mean height is :  166.20000000000002

2).  In the class B, students' heights are:

172.5 <br>
162.9 <br>
161.7 <br>
160.1 <br>
161.8 <br>
169.2 <br>

Calculate the mean height by using Python 'list' and 'for' loop:

In [18]:
students_heights2 = 172.5,162.9,161.7,160.1,161.8,169.2
students_heights_list2 = list(students_heights2)

moy = 0 

for i in students_heights_list2 :
    moy += i

moyenne = moy / len(students_heights_list2)

print("The the mean height is : " , moyenne)

The the mean height is :  164.70000000000002

3). The class A and the class B are joined together to form the class AB. Calculate the mean height by using Python 'list' and 'for' loop:

In [32]:
students_heights2 = 172.5,162.9,161.7,160.1,161.8,169.2
students_heights = 161.5,165.9,168.7,163.1,170.8,167.2
students_heights_list = list(students_heights)
students_heights_list2 = list(students_heights2)

global_list = students_heights_list + students_heights_list2

print(global_list)

moy = 0 

for i in global_list :
    moy += i

moyenne = moy / len(global_list)

print(moyenne)

[161.5, 165.9, 168.7, 163.1, 170.8, 167.2, 172.5, 162.9, 161.7, 160.1, 161.8, 169.2]
165.45000000000002

4). Sort the heights of the class AB.

In [28]:
print(sorted(global_list))

[160.1, 160.1, 161.7, 161.7, 161.8, 161.8, 162.9, 162.9, 169.2, 169.2, 172.5, 172.5]

5). The class C is formed with students with the height less than 165. Make a list 'C' containing the heights of the class C.

In [29]:
c=[]
for i in global_list :
    if i < 165 :
        c.append(i)

print (c)

[160.1, 160.1, 161.7, 161.7, 161.8, 161.8, 162.9, 162.9]

6). The class D is formed with students with the height larger than 160 and less than 170. Make a list containing the heights of the class D.

In [30]:
d=[]
for i in global_list :
    if i < 170 and i >160 :
        d.append(i)

print (d)

[160.1, 160.1, 161.7, 161.7, 161.8, 161.8, 162.9, 162.9, 169.2, 169.2]