## Quiz #0402

### "OLS solution"

In [1]:
import numpy as np
import pandas as pd

#### Answer the following question by providing Python code:
<br>
study = an array that contains the hours of study. This is the explanatory variable. <br>
score = an array that contains the test scores. This is the response variable.

In [9]:
study = np.array([ 3, 4.5, 6, 1.2, 2, 6.9, 6.7, 5.5]).reshape(-1,1)
score = np.array([ 88, 85, 90, 80, 81, 92, 95, 90]).reshape(-1,1)
study.shape

(8, 1)

1). Define the 'linerRegression' class to match the output shown below:

In [52]:
class linearRegression:
    def __init__(self):
      return 
        
    def train(self, input_X, input_Y):
        n = input_X.shape[0]                                      # Number of observations.
        k = input_X.shape[1]                                      # Number of explanatory variables.
        

        X  = input_X.mean()
        Y = input_Y.mean()

        SS_xy = np.sum(input_Y*input_X) - n*Y*X
        SS_xx = np.sum(input_X*input_X) - n*X*X
  
        # Regression Coefficients by OLS.
        self.beta = SS_xy/SS_xx
        #print(self.beta)
        # Residuals.
        self.residuals = Y - np.dot(X,self.beta)
        #print(self.residuals)
        
        # R^2.
         
        #<Your code goes in here>
        Y_ = self.beta * input_X + self.residuals
        SS_yy = np.sum((input_Y-Y)**2)
        SS_yy_ = np.sum((input_Y-Y_)**2)
       
        r2 = 1 - SS_yy_/SS_yy
        # Summary.
        #print(np.round(r2,2))
        #<Your code goes in here>
        self.summary  = pd.DataFrame([self.residuals , self.beta ,'R^2 = '+str(np.round(r2,6))] , index=['Intercept', 'X1','----------'])
        self.summary.columns = ['Coefficient']
        return  
    


    def output(self):
      return self.summary

**Sample run:**

In [53]:
LR = linearRegression()                    # Create a linear regression object.
LR.train(study, score)                     # Train.
LR.output()                                # Display the training result.

               Coefficient
Intercept         77.68467
X1                2.221303
----------  R^2 = 0.845842