## Quiz #0102

#### Use a lambda function and map() to answer the following questions.

1). Add 1 to each element of the list 'a' and create another list. <br>

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_list = list(map(lambda n : n+1 ,a))

print(new_list)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

2). Multiply element-wise the lists 'a' and 'b'. Show the result as another list.

a = [2, 4, 6, 8, 10]

b = [10, 8, 6, 4, 2]

In [5]:
a = [2, 4, 6, 8, 10]

b = [10, 8, 6, 4, 2]

list_mul = list(map((lambda n,m : n*m),a,b))

print(list_mul)

[20, 32, 36, 32, 20]

#### Use a lambda function and filter() to answer the following questions.

3). Find the multiples of 5 in the range 1~100. Show the result as a list.

In [8]:

mul = list(filter((lambda n : n%5 ==0), list(range(1,100))))

print(mul)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

4). In the following list, find the values larger than 160. Show the result as a list.

a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]

In [10]:
a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]

lt = list(filter((lambda n : n > 160),a))

print(lt)

[160.3, 171.6, 165.34, 167.2, 161.1, 164.9]

5). In the following list, find the values larger than 160 and smaller than 165. Show the result as a list.

a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]

In [12]:
a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]

lts = list(filter((lambda n : n > 160 and n < 165),a))

print(lts)

[160.3, 161.1, 164.9]

6). In the following list of names, extract only those stargin with 'J'. Show the result as a list.

a = ['Sara', 'Jack', 'Rebecca', 'Jennifer', 'Paul', 'Andrew', 'John']

In [16]:
a = ['Sara', 'Jack', 'Rebecca', 'Jennifer', 'Paul', 'Andrew', 'John']

j_initial= list(filter((lambda n : n[0] == 'J'),a))
print(j_initial)

['Jack', 'Jennifer', 'John']